body {
  height: 100vh;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.slick-track {
  display: flex !important;
  align-items: center;
  height: 311px;
}

.slick-slide.slick-center {
  width: 630px;
  height: 311px;

  .item__text {
    width: 304px;
  }

  .item__image {
    width: 487px;
    height: 274px;
  }

  // .video-wrapper {
  //   width: 487px;
  //   height: 274px;
  // }
}

.slick-slide {
  width: 325px;
  height: 183px;
  display: flex !important;
  align-items: center;
  position: relative;

  transition: all .2s ease;

  // .video-wrapper {
  //   width: 100%;
  //   height: 100%;
  //
  //   iframe {
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
  .item__image {
    background: #232323;
    width: 325px;
    height: 183px;
  }

  .item__text {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background: orange;
    width: 79px;
    height: 100%;
  }
}


.owl-stage {
  display: flex !important;
  align-items: center;
  height: 311px;
  right: -0.5px;
}

.owl-item {
  display: flex !important;
  align-items: center;
  position: relative;

    .item__image {
      background: #232323;
      width: 325px;
      height: 183px;

      transition: width .6s ease-out .6s, height .6s ease-out;
    }

    .item__text {
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      background: orange;
      width: 79px;
      height: 100%;

      transition: width .6s ease, height .6s ease-out;
    }
}

.owl-item.active {
  width: 325px !important;
  height: 183px;

  .item__text {
    transition: right .5s ease;
  }

  transition: width 1s ease-out, height 1s ease-out;
}

.owl-item.active.left {
  .item__text {
    right: calc(100% - 79px);
  }
}

.owl-item.active.center {
  width: 630px !important;
  height: 311px;

  .item__image {
    width: 487px;
    height: 274px;
  }

  .item__text {
    width: 304px;
  }
}
